<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.tianxia.admin.domain.txdata.CagentStoredvalueMapper" >
  <resultMap id="BaseResultMap" type="com.cn.tianxia.admin.project.txdata.CagentStoredvalue" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="totalvalue" property="totalvalue" jdbcType="DOUBLE" />
    <result column="usedvaue" property="usedvaue" jdbcType="DOUBLE" />
    <result column="remainvalue" property="remainvalue" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cid, totalvalue, usedvaue, remainvalue
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_cagent_storedvalue
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_cagent_storedvalue
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.tianxia.admin.project.txdata.CagentStoredvalue" >
    insert into t_cagent_storedvalue (id, cid, totalvalue, 
      usedvaue, remainvalue)
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{totalvalue,jdbcType=DOUBLE}, 
      #{usedvaue,jdbcType=DOUBLE}, #{remainvalue,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.tianxia.admin.project.txdata.CagentStoredvalue" >
    insert into t_cagent_storedvalue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="totalvalue != null" >
        totalvalue,
      </if>
      <if test="usedvaue != null" >
        usedvaue,
      </if>
      <if test="remainvalue != null" >
        remainvalue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="totalvalue != null" >
        #{totalvalue,jdbcType=DOUBLE},
      </if>
      <if test="usedvaue != null" >
        #{usedvaue,jdbcType=DOUBLE},
      </if>
      <if test="remainvalue != null" >
        #{remainvalue,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.tianxia.admin.project.txdata.CagentStoredvalue" >
    update t_cagent_storedvalue
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="totalvalue != null" >
        totalvalue = #{totalvalue,jdbcType=DOUBLE},
      </if>
      <if test="usedvaue != null" >
        usedvaue = #{usedvaue,jdbcType=DOUBLE},
      </if>
      <if test="remainvalue != null" >
        remainvalue = #{remainvalue,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.tianxia.admin.project.txdata.CagentStoredvalue" >
    update t_cagent_storedvalue
    set cid = #{cid,jdbcType=INTEGER},
      totalvalue = #{totalvalue,jdbcType=DOUBLE},
      usedvaue = #{usedvaue,jdbcType=DOUBLE},
      remainvalue = #{remainvalue,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id = "selectByCid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from t_cagent_storedvalue
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  
  <update id="updateMakeZero" parameterType="com.cn.tianxia.admin.vo.txdata.UserMemberTsVO">
  		update  txdata_db1.t_user_ts
      	   set  net_amount = 0,
				bet_amount = 0,
				valid_bet_amount = 0,
				note_num = 0,
				ts_amount = 0,
				updatetime = now(),
				backtime = '0000-00-00 00:00:00'
		 where  uid = #{uid} 
		   and  gametype = #{gametype}
  </update>
  
</mapper>