<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.tianxia.admin.domain.txdata.PayChannelMapper" >
  <resultMap id="BaseResultMap" type="com.cn.tianxia.admin.project.txdata.PayChannel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="payer_id" property="payerId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="is_support_pc" property="isSupportPc" jdbcType="BIT" />
    <result column="is_support_mobile" property="isSupportMobile" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type_id, payer_id, name, code, create_time, update_time, is_delete, is_support_pc, 
    is_support_mobile
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_pay_channel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_pay_channel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.tianxia.admin.project.txdata.PayChannel" >
    insert into t_pay_channel (id, type_id, payer_id, 
      name, code, create_time, 
      update_time, is_delete, is_support_pc, 
      is_support_mobile)
    values (#{id,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, #{payerId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT}, #{isDelete,jdbcType=INTEGER}, #{isSupportPc,jdbcType=BIT}, 
      #{isSupportMobile,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.tianxia.admin.project.txdata.PayChannel" >
    insert into t_pay_channel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="payerId != null" >
        payer_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="isSupportPc != null" >
        is_support_pc,
      </if>
      <if test="isSupportMobile != null" >
        is_support_mobile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="payerId != null" >
        #{payerId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="isSupportPc != null" >
        #{isSupportPc,jdbcType=BIT},
      </if>
      <if test="isSupportMobile != null" >
        #{isSupportMobile,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.tianxia.admin.project.txdata.PayChannel" >
    update t_pay_channel
    <set >
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="payerId != null" >
        payer_id = #{payerId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="isSupportPc != null" >
        is_support_pc = #{isSupportPc,jdbcType=BIT},
      </if>
      <if test="isSupportMobile != null" >
        is_support_mobile = #{isSupportMobile,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.tianxia.admin.project.txdata.PayChannel" >
    update t_pay_channel
    set type_id = #{typeId,jdbcType=INTEGER},
      payer_id = #{payerId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      is_delete = #{isDelete,jdbcType=INTEGER},
      is_support_pc = #{isSupportPc,jdbcType=BIT},
      is_support_mobile = #{isSupportMobile,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>