<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.tianxia.admin.domain.txdata.UserPlatformReportMapper">
	<resultMap id="BaseResultMap"
		type="com.cn.tianxia.admin.project.txdata.UserPlatformReport">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="INTEGER" />
		<result column="platform_type" property="platformType"
			jdbcType="VARCHAR" />
		<result column="currency" property="currency" jdbcType="VARCHAR" />
		<result column="note_num" property="noteNum" jdbcType="INTEGER" />
		<result column="bet_amount" property="betAmount" jdbcType="DOUBLE" />
		<result column="valid_bet_amount" property="validBetAmount"
			jdbcType="DOUBLE" />
		<result column="net_amount" property="netAmount" jdbcType="DOUBLE" />
		<result column="bet_time" property="betTime" jdbcType="TIMESTAMP" />
		<result column="cagent" property="cagent" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, platform_type, currency, note_num, bet_amount, valid_bet_amount,
		net_amount,
		bet_time, cagent
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_user_platform_report
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_user_platform_report
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.cn.tianxia.admin.project.txdata.UserPlatformReport">
		insert into t_user_platform_report (id, uid, platform_type,
		currency, note_num, bet_amount,
		valid_bet_amount, net_amount, bet_time,
		cagent)
		values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER},
		#{platformType,jdbcType=VARCHAR},
		#{currency,jdbcType=VARCHAR}, #{noteNum,jdbcType=INTEGER}, #{betAmount,jdbcType=DOUBLE},
		#{validBetAmount,jdbcType=DOUBLE}, #{netAmount,jdbcType=DOUBLE},
		#{betTime,jdbcType=TIMESTAMP},
		#{cagent,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.cn.tianxia.admin.project.txdata.UserPlatformReport">
		insert into t_user_platform_report
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="platformType != null">
				platform_type,
			</if>
			<if test="currency != null">
				currency,
			</if>
			<if test="noteNum != null">
				note_num,
			</if>
			<if test="betAmount != null">
				bet_amount,
			</if>
			<if test="validBetAmount != null">
				valid_bet_amount,
			</if>
			<if test="netAmount != null">
				net_amount,
			</if>
			<if test="betTime != null">
				bet_time,
			</if>
			<if test="cagent != null">
				cagent,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=INTEGER},
			</if>
			<if test="platformType != null">
				#{platformType,jdbcType=VARCHAR},
			</if>
			<if test="currency != null">
				#{currency,jdbcType=VARCHAR},
			</if>
			<if test="noteNum != null">
				#{noteNum,jdbcType=INTEGER},
			</if>
			<if test="betAmount != null">
				#{betAmount,jdbcType=DOUBLE},
			</if>
			<if test="validBetAmount != null">
				#{validBetAmount,jdbcType=DOUBLE},
			</if>
			<if test="netAmount != null">
				#{netAmount,jdbcType=DOUBLE},
			</if>
			<if test="betTime != null">
				#{betTime,jdbcType=TIMESTAMP},
			</if>
			<if test="cagent != null">
				#{cagent,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.cn.tianxia.admin.project.txdata.UserPlatformReport">
		update t_user_platform_report
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=INTEGER},
			</if>
			<if test="platformType != null">
				platform_type = #{platformType,jdbcType=VARCHAR},
			</if>
			<if test="currency != null">
				currency = #{currency,jdbcType=VARCHAR},
			</if>
			<if test="noteNum != null">
				note_num = #{noteNum,jdbcType=INTEGER},
			</if>
			<if test="betAmount != null">
				bet_amount = #{betAmount,jdbcType=DOUBLE},
			</if>
			<if test="validBetAmount != null">
				valid_bet_amount = #{validBetAmount,jdbcType=DOUBLE},
			</if>
			<if test="netAmount != null">
				net_amount = #{netAmount,jdbcType=DOUBLE},
			</if>
			<if test="betTime != null">
				bet_time = #{betTime,jdbcType=TIMESTAMP},
			</if>
			<if test="cagent != null">
				cagent = #{cagent,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.cn.tianxia.admin.project.txdata.UserPlatformReport">
		update t_user_platform_report
		set uid = #{uid,jdbcType=INTEGER},
		platform_type = #{platformType,jdbcType=VARCHAR},
		currency = #{currency,jdbcType=VARCHAR},
		note_num = #{noteNum,jdbcType=INTEGER},
		bet_amount = #{betAmount,jdbcType=DOUBLE},
		valid_bet_amount = #{validBetAmount,jdbcType=DOUBLE},
		net_amount = #{netAmount,jdbcType=DOUBLE},
		bet_time = #{betTime,jdbcType=TIMESTAMP},
		cagent = #{cagent,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>


	<select id="selectByUid" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		SELECT
			CASE
			WHEN platform_type = 'agbr' THEN
				'AG'
			ELSE
				platform_type
			END AS platform_type,
			currency,
			note_num,
			bet_amount,
			valid_bet_amount,
			net_amount
		from t_user_platform_report
		where  platform_type != 'bglottery'
		AND uid = #{uid,jdbcType=INTEGER}
	</select>
</mapper>