<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
    	<h3>&nbsp;&nbsp;&nbsp;天下宗旨</h3>
        <ul>
            <li>业精于专、功成于勤</li>
        </ul>
    
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>我们提供的一站式包网服务，上千精美的模板供您选择，也可根据您的需求订制主页页面，选择图片游戏种类。</li>
            <li>拥有自主研发天下棋牌API，以及行业最火热30+种类游戏产品，通过灵活专业的API整合技术，将各类游戏产品与平台完美融合，并提供强大稳定的API后台，管理更方便。</li>
            <li>专业技术团队自主研发包网原生app、棋牌原生app ，最具天下风格色彩的视觉效果，形象生动流畅画面，打造独特性、流畅性和专业性极强的纯原生app。</li>
            <li>全免费快速接入安全、稳定的支付系统，提供完整的支付对接服务和售后服务，采用系统化流程，为您解决所有支付对接问题。</li>
            <li>全部采用最新《企业级云技术》加密网络传输信息，最安全的硬件环境搭配，转化率比同类产品提高50%，智慧切换，全年免停机维护！</li>
            <li>天下棋牌、移动端网页+棋牌原生APP客户端，让玩家随时随地畅快投注！独创纯原生棋牌APP，超乎想象的稳定流畅。</li>
        </ul>
        <h3>&nbsp;&nbsp;&nbsp;官方联系方式</h3>
        <ul>
            <li><span>QQ:</span>202199999</li>
            <li><span>Email:</span>txkj8899@gmail.com</li>
            <li><span>Tel:</span>+66617766888</li>
        </ul>
        
    </div>
</div>
</body>
</html>